body{
    background-color: #CCB3FF;
}



/***********************SIDE NAV STYLE**************************/

#sideNav{
    top:0;
    left:0;
    background-color: #320073;
    height: 100vh;
    width: 200px;
    position: fixed; 
    border: 1px solid black;
    text-align: center;
    padding-top: 40px;
    line-height: 1.5;
}

#sideNav h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    border-bottom: 1px solid white;
}

#sideNav a{
    font-family: serif;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
    
    
}

#sideNav a:hover {
    background-color: white;
    color: black;
}

#sideNav input{
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 20px;
}

/***********************HOMEPAGE STYLE*********************/

.homepage_wrapper {
    text-align: center;
    line-height: 1.5;
    margin: 50px auto;
    padding: 50px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
}


.homepage_wrapper h1{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 80px;
    font-weight: 500;
    font-family: 'Great Vibes', cursive;
    
}

.homepage_wrapper p {
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.border{
    margin: -10px auto;
    width: 200px;
    border-bottom: 1px solid purple;
}

.border_instruction{
    margin: -10px auto;
    width: 80px;
    border-bottom: 1px solid purple;
}

.homepage_instructions_title{
    text-align: center;
}


.homepage_instructions_text{
    text-align: left;
}

/***********************CREATE EVENT STYLE**************************/

.mainWrapper{
    margin-left: 200px;
    
}

.mainWrapper h1{
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 10px;
    
}
.createEventForm{
   
    width: 600px;
    height: 80%;
    margin: 0 auto 80px 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px 20px;
}

.createEventForm label{
    display: inline-block;
    width: 210px;
    text-align: right;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.createEventForm button{
    width: 130px;
    margin-top: 10px;
    padding: 5px;
    font-family: serif;
    font-size: 20px;
}

.createEventForm input {
    
    padding: 10px;
    font-size: 16px;
}

.createEventForm select{
    padding: 10px;
}

.createEventForm option {
    padding: 10px;
}

/***********************ALL EVENTS PAGE STYLE**************************/

.allEventsWrapper{
    margin-top: 50px;
    margin-left: 210px;
    background-color: white;
    box-shadow: 10px 10px 20px;
    padding: 20px 0 20px 0;
}

.allEventsWrapper h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    padding-left: 20px;
}